/.idea
/.htaccess
/cache/class_index.php
/cache/sandbox/*
!/cache/sandbox/index.php
/cache/smarty/compile/*
!/cache/smarty/compile/index.php
/cache/smarty/cache/*
!/cache/smarty/cache/index.php
/config/settings.inc.php
/config/xml/*
!/config/xml/themes/
!/config/xml/.htaccess
!/config/xml/index.php
!/config/xml/qlo_mod_list.xml
/img/c/*
!/img/c/3-0_thumb.jpg
!/img/c/3-1_thumb.jpg
!/img/c/index.php
/img/genders/*
!/img/genders/index.php
!/img/genders/Unknown.jpg
/img/l/*
!/img/l/index.php
!/img/l/none.jpg
/img/m/*
!/img/m/index.php
/img/os/*
!/img/os/index.php
/img/p/*
!/img/p/index.php
/img/scenes/*
!/img/scenes/index.php
!/img/scenes/thumbs/
/img/st/*
!/img/st/index.php
/img/su/*
!/img/su/index.php
/img/tmp/*
!/img/tmp/index.php
/log/*
!/log/.htaccess
!/log/index.php
/mails/*
!/mails/en/
!/mails/.htaccess
!/mails/index.php
/modules/**/tw.php
/modules/**/zh.php
/modules/blocknewsletter/mails/tw
/modules/blocknewsletter/mails/zh
/modules/blockwishlist/mails/tw
/modules/blockwishlist/mails/zh
/modules/emailgenerator/templates_translations/tw
/modules/emailgenerator/templates_translations/zh
/modules/followup/mails/tw
/modules/followup/mails/zh
/modules/mailalerts/mails/tw
/modules/mailalerts/mails/zh
/modules/referralprogram/mails/tw
/modules/referralprogram/mails/zh
/modules/sendtoafriend/mails/tw
/modules/sendtoafriend/mails/zh
!/modules/statsbestcategories/translations/tw.php
!/modules/statsbestproducts/translations/tw.php
!/modules/statscatalog/translations/tw.php
!/modules/statscheckup/translations/tw.php
!/modules/statsforecast/translations/tw.php
!/modules/statsproduct/translations/tw.php
/modules/wkabouthotelblock/views/img/hotel_interior/*
!/modules/wkabouthotelblock/views/img/hotel_interior/index.php
/modules/wkfooterpaymentblock/views/img/payment_img/*
!/modules/wkfooterpaymentblock/views/img/payment_img/index.php
/modules/wkhotelfeaturesblock/views/img/hotels_features_img/*
!/modules/wkhotelfeaturesblock/views/img/hotels_features_img/index.php
/modules/wktestimonialblock/views/img/hotels_testimonials_img/*
!/modules/wktestimonialblock/views/img/hotels_testimonials_img/index.php
/themes/default-bootstrap/lang/tw.php
/themes/default-bootstrap/lang/zh.php
/translations/*
!/translations/custom_mails/
!/translations/export/
!/translations/en.gzip
!/translations/fr.gzip
!/translations/index.php
